@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>实验大学</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>欢迎来到实验大学</h2>
        <p>
            实验大学是一个示例应用，演示如何在ASP.NET MVC5 Web应用程序使用EF6。
        </p>
    </div>
    <div class="col-md-4">
        <h2>从头做起</h2>
        <p>
            可以通过遵循ASP.NET网站教程系列中的步骤来构建应用程序。
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">查看教程 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>下载</h2>
        <p>您可以从微软代码库下载完成的项目。</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">下载 &raquo;</a></p>
    </div>
</div>